.skillSection{
    border-radius: 20px;
    margin-top: -1rem;
    padding: 1.5rem 2rem;
    background: radial-gradient(ellipse at top left, #1b1b1b9f, transparent 70%);
}

.tree {
    margin: 1em 0 0 2rem;
    list-style-type: none;
    padding: 0 0 0 1rem;
}

.tree input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.tree input~ul {
    display: none;
    transition: all 1s ease;
}

.tree input:checked~ul {
    display: block;
    max-height: auto;
    opacity: 1;
    transition: all 1s ease;
}

/* ————————————————————–
  Tree rows
*/
.tree li {
    line-height: 1.2;
    position: relative;
    padding: 0 0 1em 1em;
    list-style-type: none;
}

.tree ul li {
    padding: 1em 0 0 3em;
}

.tree>li:last-child {
    padding-bottom: 0;
}

/* ————————————————————–
  Tree labels
*/
.tree_label {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    background: radial-gradient(circle, #444, #111);
    text-shadow: 3px 3px 4px #000;
    border: 1px solid rgba(255, 255, 255, 0.288);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.288);
}

label.tree_label {
    cursor: pointer;
}

label.tree_label:hover {
    color: #afafaf;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 4px #fff;
    background: linear-gradient(90deg, #333, #222, #222, #222, #333);
}

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
    border: 1px solid #333;
    box-shadow: inset 0 0 4px rgb(68, 68, 68);
    background: #000;
    color: #a7a7a7;
    position: relative;
    z-index: 1;
    float: left;
    margin: 0 0 0 -6em;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    content: '+';
    text-align: center;
    line-height: .9em;
    transition: transform 1s ease;
}

:checked~label.tree_label:before {
    box-shadow: inset 0 0 0;
    content: '–';
    transform: rotate(90deg);
    transition: transform 1.5s ease;
}

/* ————————————————————–
  Tree branches
*/
.tree li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.5em;
    display: block;
    width: 0;
    border-left: 1px solid #333;
    content: "";
    transition: border-color 0.4s ease;
}

.tree input:checked~ul li:before {
    border-left: 2px solid #333;
}

.tree_label:after {
    position: absolute;
    top: 0.5rem;
    left: -3.5rem;
    display: block;
    height: 0.5em;
    width: 3em;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-radius: 0 0 0 .3em;
    content: '';
    transition: all 0.4s ease;
}

label.tree_label:after {
    border-left: 0;
    border-bottom: 2px solid #333;
}

:checked~label.tree_label:after {
    border-radius: 0 .3em 0 0;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 0;
    border-left: 0;
    bottom: 0;
    top: 1em;
    height: auto;
    animation: connectorTransform 0.4s ease;
}

.tree li:last-child:before {
    height: 1.5rem;
    bottom: auto;
}

.tree>li:last-child:before {
    display: none;
}

/* Animations */
@keyframes branchFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes connectorTransform {
    0% {
        transform: scaleX(0);
    }

    50%{
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/* Animation for folder expansion */
.tree input:checked~ul {
    animation: expandFolder 1s ease forwards;
}

@keyframes expandFolder {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}