.experienceSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a7a7a7;
}

.title{
    margin: -10px 0 1rem 0;
    font-size: 3rem;
    color: #fff;
}

.subTitle{
    color:#a7a7a7;
    font-weight: 600;
}

@media (max-width:1300px) {

}

@media (max-width:768px) {
    .title {
        margin: -5px 0 1rem 0;
        font-size: 2rem;
    }

    .subTitle {
        font-size: 14px;
    }

    .verticalTimeline {
        margin-left: -12px;
    }

    .verticalTimelineElement{
        width: 110%;
    }
}