.experienceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a7a7a7;
    height: 90vh;
    overflow-y: auto;
}

.experienceSection::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1300px) {}

@media (max-width: 768px) {}