.main {
    position: absolute;
    top: 0;
    right: -20%;
    height: 100vh;
}

.robotContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.robot {
    scale: 1;
}

.hideLogo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: black;
    z-Index: 10;
}

@media (max-width:1300px) {
    .main {
        top: -20%;
        right: 0;
    }
}

@media (max-width:768px) {
    .main{
        right: 0;
    }
    .robot {
        scale: 1;
    }
}